@charset "utf-8";

// Define defaults for each variable.
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&display=swap');

$base-font-family: 'Montserrat', sans-serif;
$title-font-family: 'Lobster', cursive;
$base-font-size: 16px !default;
$base-font-weight: normal !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$headers-font: 'Montserrat',
sans-serif;
$spacing-unit: 30px !default;

$text-color: rgb(217, 218, 213) !default;
$background-color: #181818 !default;
$brand-color: #F40060 !default;
$accent-color: #fff !default;

$secondary-color: #F40060 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:900px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import "theme/base",
"theme/theme_palettes",
"theme/code_theme",
"theme/layout",
"theme/syntax-highlighting"
;